.btn-sorted{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: darkgrey;
    border: none;
}
.btn-sort-cancel{
    border-radius: 30px;
    background-color: gray;
    border: none;
}
.sort-container{
    display: flex;
    justify-content: flex-end;
}
.all-products-container{
    padding: 5px;
}