
.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: #6b7fd7;
}
.nav-to-left-end{
    display: flex;

}
.nav-link-container{
    padding: 10px;
    border: 1px solid black;
}
.nav-link-container:hover{
    cursor: pointer;
    background-color: #d2cca1;
}